

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
    font-family: 'Cardo', serif;    

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 10px;
    background-color: #A43133;

}


body {
  font-family: 'Cardo', serif;    
  font-size: 2.2rem;
  border-color: #FFAF82;

  overflow-x: hidden;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 0;
  /* background-color: darkgoldenrod; */
  height: 100vh;

}

h2 { 
    font-size: 9rem;     
    font-family: 'Cardo', serif;  
}

h3 { 
    font-size: 7rem;     
    font-family: 'Cardo', serif;  
    line-height: 4px;
    padding-bottom: 40px;
}


p { 
    color: #FFAF82;
    line-height: 1.5; 
    /* margin-bottom: 35px; */
   font-family: 'Cardo', serif;    

}

p1 { 
    color: #FFAF82;
    line-height: 1.3; 
   font-family: 'Cardo', serif;    

}

p2 { 
  color: #FFAF82;
  line-height: 1;
  font-size: 1.7rem; 
  margin-bottom: 35px;
  font-family: 'Cardo', serif;  
}


p1 {
  font-size: 1.5rem;
  color: #FFAF82;

}

h1, h2, h3, h4, h5, h6 { color: #FFAF82; }

h2 {

    font-family: "KENOKY-SemiBold";
    font-feature-settings:"aalt";
}


.tm-mb-0 { margin-bottom: 0; }
.tm-mb-1 { margin-bottom: 20px;  }
.tm-mb-2 { margin-bottom: 40px; }
.tm-mb-3 { margin-bottom: 60px; }
.tm-mb-4 { margin-bottom: 30px; }
.tm-bg-color-1 { background-color: #9999CC; }
.tm-bg-color-2 { background-color: #CC9999; }
.tm-bg-color-3 { background-color: #666666; }
.tm-bg-color-4 { background-color: #99CCFF; }
.tm-bg-color-5 { background-color: #99CC99; }
.tm-bg-color-6 { background-color: #F2F2F2; }
.tm-bg-color-7 { background-color: #DDD; }
.tm-bg-color-8 { background-color: #EDEEEF; } /* Nav background */
.tm-bg-color-white { background-color: white; }
.tm-text-color-1 { color: #666; }
.tm-text-color-2 { color: #333; }
.tm-text-white { color: #fff; }

/* NEED TO FIX THE FOOTER AND APPLY GLOBAL ACROSS SITE */
.text-left { 
    text-align: left; 
    position: absolute;
    display: inline-block;
    left: 3%;
    bottom: 3%;
    width: 150px;

    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 4px;

    /* background-color:darkblue */

}

.text-right { 
    text-align: left; 
    position: absolute;
    display: inline-block;
    margin-left: 88%;
    /* left:90%; */
    bottom: 3%;
    width: 150px;

    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 4px;

    /* background-color:darkblue */

}




.tm-img-responsive {
  max-width: 100%;
  margin-top: 50px;
  height: auto;
}


.tm-section-1-l {
    padding: 0px 80px;
    width: 62.85%;
    /* background-color: cornflowerblue; */
}

.tm-section-1-r {
  padding: 60px 80px;
  width: 40.5%;
  align-items: center;
  /* background-color: chartreuse; */
}

.tm-row { display: flex; }

.tm-btn {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.5rem;
  border:#FFAF82;
  border-style:solid;
  /* background-color: #CC9999; */
  color: whitesmoke;
  border-radius: 25px;

  margin-top: 20px;
  margin-bottom: 10px;
}






.clearfix::after {
  display: block;
  clear: both;
  content: "";
}



.ml-auto {
  margin-left: auto;
  display: block;
}

a { color: #666; }
a:hover { color: #CC9999; }
button:hover { cursor: pointer; }

.content__back {

    position: absolute;
    top: 3.3%;
    left: 3.3%;
    margin: auto;
    cursor: pointer;
    background-color:transparent;
    border-style: none;
}

.workshop-info {

  /* background: gold; */
  position: relative;
  width: 50%;
  display: inline-block;
  float: left;
  right: 10px;
  top: -20px;
}

.workshop-info2 {
  position: relative;
  width: 50%;
  display: inline-block;
  float: left;
  left: 10px;
  top: -20px;
}

hr {
  margin: 40px 0;
  border: 1px solid#FFAF82;
}



/* ************************************************************************ */
/* MEDIA QUERIES  */

@media (max-width: 992px) {
  .tm-section-1-l,
  .tm-section-1-r,
  .tm-section-2-l,
  .tm-section-2-r {
    width: 100%;
  }

  .tm-section-1-l {
    margin-top: 50px;

    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
  }

  .tm-section-2-l { margin-bottom: 20px; }
  .tm-section-2-r { text-align: center; }

  .tm-section-1-r,
  .tm-section-2-l {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-about-row,
  .tm-services-row {
    flex-direction: column;
  }

  .tm-social-row { padding: 70px 30px; }
}

/* @media (max-width: 800px) {
  .tm-social-row { flex-direction: column; }
  .tm-icon { width: 100%; }
  .tm-icon-inner { padding: 30px; }
} */

@media (min-width: 1240px) {
  .tm-section-1-r { max-height: 700px; }
}

/* ************************************************************************ */
/* IPHONE 6/7/8 PLUS SIZING */
@media (max-width: 414px) {

  .text-left {
    display: none;
    visibility: hidden;
  }  

  .text-right {
    display: none;
    visibility: hidden;
  }  

  .tm-section-1-l {
    padding: 0px 0px;
    width: 100vw;
    /* background-color:blue; */
    align-items: center;
  }

  .tm-section-1-r {
    padding: 30px;
  }

  .workshop-info{
    display: block;
    width: 100vw;
    float: none;
    right: 0px;
  }

  .workshop-info2{

    display: block;
    width: 100vw;
    float: none; 
    left: 0px;
 
  
  }

  p {

    /* background-color: red; */
    width: 80vw;
    margin: 0 auto
  }
  h2 {
    font-size: 4.5rem;
    padding-left: 50px;
    padding-right: 50px;
  }
 

}
